.loader {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.loader-img {
  width: 80px;
  height: 80px;
}

